.background {
    background-image: url('../images/dogs.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    padding-top: 80px;
    margin: -40px;
    background-color: rgb(255, 255, 255);
   
}

.title{
    text-align: center;
text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 20px #e600c0, 0 0 30px #e600c0,
0 0 30px #e600c0, 0 0 40px #e600c0, 0 0 50px #e600c0;
font-size: 3rem;}

.subTitle{
font-weight: bold;
text-decoration: none;
text-align: center;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #e600c0, 0 0 10px #e600c0,
0 0 10px #e600c0, 0 0 20px #e600c0, 0 0 30px #e600c0;
font-size: 2rem;}

.navlink{
    text-decoration: none;
    color: black;
    width: 300px;
    cursor:url(''), auto;
}

.boton{
    width: 200px;
    margin: 20px;
    text-decoration: none;
    padding: 10px;
    font-weight: 800;
    font-size: 20px;
    color: #ffffff;
    background-color: rgb(149, 30, 196);
    border-radius: 6px;
    border: 2px solid #88488d;
  }
  
  .boton:hover{
    color: #000000bb;
    background-color: #f5a4de;}

